.jumbotron{
  background: none;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.logo{
  width: auto !important ;
  height: 10px;  
}
body{
        font-family: 'Bubblegum Sans', cursive;
        font-family: 'Caveat', cursive;
        font-family: 'Dosis', sans-serif;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Kanit', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Righteous', cursive;
        font-family: 'Sriracha', cursive;
        font-family: 'Varela Round', sans-serif;
}


