.jumbotron{
  background: none;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;

}
.book-row{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}


