@{
    Layout = "_Layout";
    }
    <link rel="stylesheet" href="css\site.css">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Welcome to Thrive Bookstore</h1>
                <p class="lead text-muted">
                    - Your Source for Inspiration and Knowledge

                        we're not just a place to find books; we're a gateway to new worlds, fresh perspectives, and boundless learning. Whether you're seeking spiritual enlightenment, motivation to conquer life's challenges, or the tools to expand your horizons, you've come to the right place.
                    <p>
                        <a href="#" class="btn btn-primary my-2">Search books</a>
                    </p>
                </p>
            </h1>
        </div>
    </section>



    

